body {
    display: Flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

p {
    display: Flex;
}

#choicefrm {
    margin: 25px;
}

a {
    margin-top: 80%;
}

input {

    max-height: 100px;
    max-width: auto;
    border-style: solid;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

.comparisonoutput {
    display: flex;
    justify-content: center;
    width: 300px;
}

.playeroutput {
    max-height: 100px;
    max-width: auto;
    border-style: solid;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}

.computeroutput {
    max-height: 100px;
    max-width: auto;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
}